@use 'typo';
@use 'colors';

// Définition des variables de breakpoints si pas déjà fait dans ce fichier
$mq-tablet: 768px;
$mq-desktop: 1024px;

body {
    font-family: typo.$font-main;
    font-size: typo.$size-text;
    line-height: 1.55; 
    background-color: colors.$color-bg;
    color: colors.$color-text;
    margin: 0;
    
    // Mobile First : Petit padding par défaut
    padding: 0 1rem;

    // Tablette et Desktop : Padding plus large synchronisé sur la grille
    @media (min-width: $mq-tablet) {
        padding: 0 2rem;
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}