// styles/scss/styles.scss

@use './abstracts/colors';
@use './abstracts/typo';

@use './abstracts/bases' as *;    
@use './abstracts/grid' as *;     
@use './abstracts/blocks' as *;   

// Ajout du composant Header
@use './layout/header' as *;