// styles/scss/styles.scss

@use './abstracts/colors';
@use './abstracts/typo';

@use './abstracts/bases' as *;      // Styles généraux (Desktop)
@use './abstracts/grid' as *;       // Structure (Desktop + Mobile interne)
@use "abstracts/blocks" as *;